<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710012506940-ku0smuhj0f061lpe8ee22dgjqiitagt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710012506940-ku0smuhj0f061lpe8ee22dgjqiitagt0</string>
	<key>API_KEY</key>
	<string>AIzaSyDyBa3t43Qf4RVc7WtTfc4x44RmGdHq0_o</string>
	<key>GCM_SENDER_ID</key>
	<string>710012506940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nxgnauto.partnerapp</string>
	<key>PROJECT_ID</key>
	<string>nxgnpush</string>
	<key>STORAGE_BUCKET</key>
	<string>nxgnpush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710012506940:ios:e5c89c13b5474dbcea8439</string>
	<key>DATABASE_URL</key>
	<string>https://nxgnpush.firebaseio.com</string>
</dict>
</plist>